/* line 14, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .session_button, .notify_button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .session_button::-moz-focus-inner, .notify_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .session_button:focus, .notify_button:focus {
  outline: none;
}

/* line 4, ../../../app/stylesheets/application.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 8, ../../../app/stylesheets/application.scss */
#header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header {
  overflow-x: hidden;
}

/* line 12, ../../../app/stylesheets/application.scss */
.session_button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #f2f2f2), color-stop(50%, #c4c4c4), color-stop(50%, #bdbdbd), color-stop(100%, #d6d6d6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 10%, #c4c4c4 50%, #bdbdbd 50%, #d6d6d6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f2f2f2 10%, #c4c4c4 50%, #bdbdbd 50%, #d6d6d6 100%);
  border-color: #a6a6a6;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 120, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.session_button, .session_button:visited {
  color: #222222;
}
/* line 31, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.session_button:hover, .session_button:focus {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ebebeb), color-stop(50%, #bdbdbd), color-stop(50%, #b5b5b5), color-stop(100%, #cfcfcf));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 10%, #bdbdbd 50%, #b5b5b5 50%, #cfcfcf 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ebebeb 10%, #bdbdbd 50%, #b5b5b5 50%, #cfcfcf 100%);
  border-color: #9e9e9e;
  text-shadow: white 0px 1px 1px;
}
/* line 120, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.session_button:hover, .session_button:hover:visited, .session_button:focus, .session_button:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.session_button:active {
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bdbdbd), color-stop(30%, #c2c2c2), color-stop(50%, #b8b8b8), color-stop(50%, #b0b0b0), color-stop(100%, #d1d1d1));
  background-image: -moz-linear-gradient(top, #bdbdbd 0%, #c2c2c2 30%, #b8b8b8 50%, #b0b0b0 50%, #d1d1d1 100%);
  background-image: linear-gradient(top, #bdbdbd 0%, #c2c2c2 30%, #b8b8b8 50%, #b0b0b0 50%, #d1d1d1 100%);
  border-color: #969696;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #a6a6a6 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #a6a6a6 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #a6a6a6 0 0.08em 0.1em 1px inset;
  box-shadow: #a6a6a6 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.session_button:active, .session_button:active:visited {
  color: #222222;
}

/* line 16, ../../../app/stylesheets/application.scss */
.notify_button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #aaff00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dceeba), color-stop(10%, #b8db70), color-stop(50%, #90c030), color-stop(50%, #87b42d), color-stop(100%, #a1d043));
  background-image: -moz-linear-gradient(top, #dceeba 0%, #b8db70 10%, #90c030 50%, #87b42d 50%, #a1d043 100%);
  background-image: linear-gradient(top, #dceeba 0%, #b8db70 10%, #90c030 50%, #87b42d 50%, #a1d043 100%);
  border-color: #6b8f24;
  text-shadow: #558000 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.notify_button, .notify_button:visited {
  color: white;
}
/* line 31, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.notify_button:hover, .notify_button:focus {
  background-color: #a0f000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d6ebad), color-stop(10%, #b1d864), color-stop(50%, #87b42d), color-stop(50%, #7da72a), color-stop(100%, #9bcd37));
  background-image: -moz-linear-gradient(top, #d6ebad 0%, #b1d864 10%, #87b42d 50%, #7da72a 50%, #9bcd37 100%);
  background-image: linear-gradient(top, #d6ebad 0%, #b1d864 10%, #87b42d 50%, #7da72a 50%, #9bcd37 100%);
  border-color: #628321;
  text-shadow: #4b7000 0px 1px 1px;
}
/* line 116, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.notify_button:hover, .notify_button:hover:visited, .notify_button:focus, .notify_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.notify_button:active {
  background-color: #96e000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #87b42d), color-stop(30%, #8dbc2f), color-stop(50%, #81ab2b), color-stop(50%, #779f28), color-stop(100%, #9dce3b));
  background-image: -moz-linear-gradient(top, #87b42d 0%, #8dbc2f 30%, #81ab2b 50%, #779f28 50%, #9dce3b 100%);
  background-image: linear-gradient(top, #87b42d 0%, #8dbc2f 30%, #81ab2b 50%, #779f28 50%, #9dce3b 100%);
  border-color: #59761e;
  text-shadow: #416100 0px -1px -1px;
  -moz-box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
  box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.notify_button:active, .notify_button:active:visited {
  color: white;
}

/* line 20, ../../../app/stylesheets/application.scss */
#footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer {
  overflow-x: hidden;
}

/* line 24, ../../../app/stylesheets/application.scss */
body {
  font-family: Helvetica, Arial;
  background: #ffd65e url("/images/background.png") top left repeat-x fixed;
}

/* line 29, ../../../app/stylesheets/application.scss */
h1 {
  font-size: 100%;
  font-weight: bold;
}

/* line 35, ../../../app/stylesheets/application.scss */
pre,
code {
  font-family: monospace, sans-serif;
}

/* line 39, ../../../app/stylesheets/application.scss */
#main {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../home/akashmanohar/.rvm/gems/ruby-1.9.2-p136/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main {
  overflow-x: hidden;
}

/* line 43, ../../../app/stylesheets/application.scss */
#content {
  -moz-box-shadow: gray 2px 2px 10px 0;
  -webkit-box-shadow: gray 2px 2px 10px 0;
  -o-box-shadow: gray 2px 2px 10px 0;
  box-shadow: gray 2px 2px 10px 0;
  background: #fff;
  margin: 20px;
  padding: 20px;
}
/* line 48, ../../../app/stylesheets/application.scss */
#content p, #content form {
  padding: 40px 0 10px 0;
}

/* line 53, ../../../app/stylesheets/application.scss */
.landing_content {
  text-align: center;
}

/* Countdown Timer, ty: http://tenseveninteractive.com/content/jquery-countdown-background-and-overlay */
/* line 58, ../../../app/stylesheets/application.scss */
#launchcountdown {
  width: 231px;
  height: 55px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

/* line 66, ../../../app/stylesheets/application.scss */
#t7_timer {
  width: 231px;
  height: 55px;
  position: relative;
}

/* line 72, ../../../app/stylesheets/application.scss */
#t7_timer_over {
  width: 300px;
  height: 55px;
  background-image: url(/images/Countdown-over.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 1px;
  margin: 0px;
  padding: 0px;
}

/* line 84, ../../../app/stylesheets/application.scss */
#t7_vals {
  width: 100%;
  clear: both;
  margin: 0px auto;
}

/* line 90, ../../../app/stylesheets/application.scss */
.t7_numbs {
  font-size: 28px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

/* line 110, ../../../app/stylesheets/application.scss */
#t7_d {
  background-image: url(/images/Countdown3.png);
  background-repeat: no-repeat;
  float: left;
  width: 71px;
  height: 35px;
  background-color: #ffffff;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px;
}

/* line 122, ../../../app/stylesheets/application.scss */
#t7_h {
  background-image: url(/images/Countdown2.png);
  background-repeat: no-repeat;
  float: left;
  width: 48px;
  height: 35px;
  background-color: #ffffff;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px;
}

/* line 134, ../../../app/stylesheets/application.scss */
#t7_m {
  background-image: url(/images/Countdown2.png);
  background-repeat: no-repeat;
  float: left;
  width: 47px;
  height: 35px;
  background-color: #ffffff;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px;
}

/* line 146, ../../../app/stylesheets/application.scss */
#t7_s {
  background-image: url(/images/Countdown2-nc.png);
  background-repeat: no-repeat;
  float: left;
  width: 42px;
  height: 35px;
  background-color: #ffffff;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px;
}

/* line 158, ../../../app/stylesheets/application.scss */
#t7_labels {
  width: 100%;
  clear: both;
  margin: 0px auto;
}

/* line 164, ../../../app/stylesheets/application.scss */
.t7_labs {
  font-size: 9px;
  font-family: Helvetia, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

/* line 172, ../../../app/stylesheets/application.scss */
#t7_dl {
  float: left;
  width: 74px;
  height: 15px;
  padding: 0px;
  margin: 0px;
}

/* line 180, ../../../app/stylesheets/application.scss */
#t7_hl {
  float: left;
  width: 54px;
  height: 15px;
  padding: 0px;
  margin: 0px;
}

/* line 188, ../../../app/stylesheets/application.scss */
#t7_ml {
  float: left;
  width: 55px;
  height: 15px;
  padding: 0px;
  margin: 0px;
}

/* line 196, ../../../app/stylesheets/application.scss */
#t7_sl {
  float: left;
  width: 46px;
  height: 15px;
  padding: 0px;
  margin: 0px;
}
