/*
Syntax error: Invalid CSS after "	padding: ": expected expression (e.g. 1px, bold), was ": 0px;"
        on line 33 of /home/jesse/code/hackonday/app/stylesheets/ie.scss

28: 	background: none;
29: 	position: absolute;
30: 	top: 0px;
31: 	left: 0px;
32: 	margin: 0px;
33: 	padding: : 0px;
34: }
35: 
36: #t7_yl {
37: 	float: left;
38: 	width: 51px;

Backtrace:
/home/jesse/code/hackonday/app/stylesheets/ie.scss:33
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:838:in `expected'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/script/lexer.rb:193:in `expected!'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/script/parser.rb:377:in `assert_expr'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/script/parser.rb:49:in `parse'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:765:in `send'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:765:in `sass_script'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:639:in `value!'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:616:in `declaration'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:387:in `declaration_or_ruleset'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:357:in `block_child'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:339:in `block'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:333:in `ruleset'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:356:in `block_child'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:57:in `stylesheet'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/scss/parser.rb:26:in `parse'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/engine.rb:213:in `_to_tree'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/files.rb:44:in `tree_for'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/warden-1.0.3/lib/warden/manager.rb:35:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:32:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:12:in `cache'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/activerecord-3.0.5/lib/active_record/query_cache.rb:31:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/activerecord-3.0.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/activesupport-3.0.5/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/rack/logger.rb:13:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/activesupport-3.0.5/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/actionpack-3.0.5/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/application.rb:168:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/application.rb:77:in `send'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/application.rb:77:in `method_missing'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/rack/log_tailer.rb:14:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:95:in `start'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `each'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:92:in `start'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:23:in `start'
/home/jesse/.rvm/rubies/ruby-1.8.7-p302/lib/ruby/1.8/webrick/server.rb:82:in `start'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/commands/server.rb:65:in `start'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/commands.rb:30
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/commands.rb:27:in `tap'
/home/jesse/.rvm/gems/ruby-1.8.7-p302@co-hack/gems/railties-3.0.5/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	padding: \": expected expression (e.g. 1px, bold), was \": 0px;\"\A         on line 33 of /home/jesse/code/hackonday/app/stylesheets/ie.scss\A \A 28: 	background: none;\A 29: 	position: absolute;\A 30: 	top: 0px;\A 31: 	left: 0px;\A 32: 	margin: 0px;\A 33: 	padding: : 0px;\A 34: }\A 35: \A 36: #t7_yl {\A 37: 	float: left;\A 38: 	width: 51px;"; }
