<h1>The Rules</h1>

<p>So what are you getting into? Hack On will be an awesome competition
where you’ll create an application from scratch to a working and
presentable state. The basic preliminary rules are as follows. If you
have questions or feedback just mail or tweet us.</p>

<h2>1. Code Language</h2>
<p>You can use whatever language you feel comfortable with. Bonus points
for lolcode. Electronics hacks are more than welcome.</p>

<h2>2. Timeframe</h2>
<p>Your team has 24 hours to develop your application during the Hack On
Day which starts on March 19th 2011 at 9am PST. After the 24 hours are
up, you’ll be asked to create a small screencast presenting your work.</p>

<h2>3. Preparation</h2>
<p>You can form ideas of your application beforehand, but no code nor
design can be made before the clock starts ticking. For designers:
mockups are okay, slicable PSDs are not. Using frameworks and
libraries is fine as long as they are online and open source for at
least one week before the competition. Any information of this kind
should be posted publicly in order to keep this fair for everyone.</p>

<h2>3. Teams</h2>
<p>Teams can consist of just one person or up to four people.</p>

<h2>4. Ownership and Open Source</h2>
<p>What you create during the day is your own work. You can use and
licence it however you want as long as we, the organizers, can look at
the code (to make it harder for you to cheat) and present the app on
the site. We won’t ever share your code unless you want us to. Who
knows, rumor has it whole startups were born during hackathons.</p>
